<!DOCTYPE html>
<html>
<head>
    @{
        ViewData["Title"] = "Home Page";
    }
</head>
<body>

    <div class="row position-relative top-50 border border-3 border-dark-subtle align-content-center">
        <div class="row align-middle">
            <div class="col">
                <img src="/images/Castlevania.png" class="img-fluid" alt="Castlevania">
            </div>
            <div class="col">
                <img src="/images/Excitebike.png" class="img-fluid" alt="Excitebike">
            </div>
            <div class="col">
                <img src="/images/FinalFantasy.png" class="img-fluid" alt="FinalFantasy">
            </div>
            <div class="col">
                <img src="/images/Punch-Out.png" class="img-fluid" alt="pout">
            </div>
            <div class="col">
                <img src="/images/SuperMarioBros.png" class="img-fluid" alt="smb">
            </div>
        </div>
    </div>
</body>
</html>
